<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست دسته‌بندی</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'weblog/styles.css' %}">
</head>
<body>
    <header>
        <h1>وبلاگ</h1>
        <nav>
            <a href="{% url 'show_category' %}">خانه</a>
        </nav>
    </header>
    <div class="container">
        <h2>لیست دسته‌بندی</h2>
        <ul class="category-list">
            {% for category in category %}
            <li class="category-item">
                <h3>{{ category.name }}</h3>
                <a href="{% url 'post_list' category.id %}" class="details-link">جزئیات بیشتر</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
